<div class="container-fluid">
  <div class="row justify-content-center text-center " id="nav-incidentes">
    <h2>Tabla de Incidentes</h2>
  </div>
  <div class="row"></div>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th>#</th>
        <th>Descripcion</th>
        <th>Fecha del Incidente</th>
        <th>Hora del Incidente</th>
        <th>Distrito del Incidente</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of incidentes_formateado" class="text-center" style="padding-top: 14rem;">
        <td>
          {{item.id_incidente}}
        </td>
        <td>
          {{item.descripcion_incidente}}
        </td>
        <td>
          {{item.fecha_incidente}}
        </td>
        <td>
          {{item.hora_incidente}}
        </td>
        <td>
          {{item.distrito_incidente}}
        </td>
        <td>
          <div class="row justify-content-around">
              <a class="col-3 btn btn-warning " href=""><span class="material-icons">
                  edit
                </span></a>
                <p></p>
              <a class="col-3 btn btn-danger material-icons " href=""><span class="material-icons ">
                  delete
                </span></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
