.background {
  background-color: #27403D;
  height: 15vh;
}

.background2 {
  background-color: #F1E4DB;
  height: 55vh;
  padding: 0%;
  margin: 0;
}

.titulo {
  color: #F1E4DB;
}

.titulo2 {
  color: #27403D;
}

.btn {
  background-color: #2B2B28;
  color: #D88F2E;
}

.footer {
  color: #80807D;
}

.texto {
  font-family: 'Lora';
}

.color {
  background-color: #2B2B28;
  height: 30vh;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #2B2B28;
}

img {
  display: block;
  align-items: end;
  align-content: end;
  margin: auto;
}
