<div class="texto">

  <div class="d-flex align-items-center justify-content-center background">
    <p class="titulo fs-1">Emerginet</p>
  </div>

  <div class="background2">
    <div class="d-flex align-items-center justify-content-center pt-4">
      <p class="titulo2 pt-5 fs-1">Acceso a las tablas de registro</p>
    </div>
    <div class="container-fluid row text-center pt-5">
      <div class="col pt-2">
        <button [routerLink]="['/incidente']" type="button" class="btn fs-1">Incidentes</button>
      </div>
      <div class="col pt-2">
        <button [routerLink]="['/equipo']" type="button" class="btn fs-1">Equipo</button>
      </div>
      <div class="col pt-2">
        <button [routerLink]="['/personal']" class="btn fs-1">Personal</button>
      </div>
    </div>
  </div>
  <div class="container-fluid color">
    <div class="row justify-content-between pt-3 ps-3 pe-5">
      <div class="col-4 text-start">
        <div class="text lh-1 footer">
          <div class="card-body">
            <h3 class="card-title fw-bold pb-4">CRÉDITOS DEL SITIO WEB</h3>
            <p class="card-text inter fw-bold">Pilco Chiuyare, André Darío (Lima, Perú).</p>
            <p class="card-text inter">Contacto: andrepilcoch@gmail.com</p>
            <p class="card-text inter fw-bold">Poma Astete, Luis Felipe (Lima, Perú).</p>
            <p class="card-text inter">Contacto: luisfelipe@gmail.com</p>
            <p class="card-text inter fw-bold">Sovero Cubillas, John Davids (Lima, Perú).</p>
            <p class="card-text inter">Contacto: johnsovero@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="text footer">
          <div class="card-body">
            <h5 class="card-title fs-3 text-end pb-4 fw-bold">UNIVERSIDAD PERUANA DE CIENCIAS APLICADAS</h5>
          </div>
          <div class="text-end ps-5">
            <img src="../assets/upc.png" class="rounded float-end" alt="no hay imagen" style="height: 30%; width: 30%">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
