.background {
  background-color: #27403D;
  height: 200px;
}

.background2 {
  background-color: #F1E4DB;
  height: 230px;
}

.titulo {
  font-size: 60px;
  color: #F1E4DB;
  font-family: 'Lora';
}

.titulo2 {
  padding-top: 50px;
  color: #27403D;
  font-family: 'Lora';
}

.btn {
  background-color: #2B2B28;
  color: #D88F2E;
  font-size: 40px;
  font-family: 'Lora';
}


.footer {
  background-color: #2B2B28;
  color: #80807D;
}

.inter {
  padding-left: 20px;
  line-height: 1;
  font-family: 'Lora';
}

.bold {
  font-weight: bold;
}

.card-title {
  padding-bottom: 15px;
  font-family: 'Lora';
  text-align: center;
}

.universidad {
  font-size: 30px;
}

.footerback,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
  background-color: #2B2B28;
}

img {
  display: block;
  align-items: end;
  align-content: end;
  margin: auto;
}