<router-outlet></router-outlet>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Fecha de Nacimiento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of usuarios | keyvalue" [hidden]="item.value.length == 0">
      <td *ngFor="let item1 of item.value | keyvalue" [hidden]="item1.value.length == 0">
          {{item1.value}}
      </td>
    </tr>
    <!-- <div class="card" *ngFor="let item of data">
      <p *ngFor="let itemAux of item | keyvalue">
         Key: <b>{{itemAux.key}},</b> value: <b> {{itemAux.value}} |</b>
      </p>
   </div> -->
  </tbody>
</table>
