.background {
    background-color: #27403D;
    height: 10vh;
}

.background3 {
    background-color: #27403D;
}

.titulo {
    color: #F1E4DB;
}

.btn {
    background-color: #27403D;
    color: white;
}

.texto {
    font-family: 'Lora';
}