<nav class="navbar navbar-dark background ps-4 pb-5">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <p class="titulo fs-1 mx-auto">{{ titulo }}</p>
    </div>
</nav>

<div class="collapse dropdown-menu-end" id="navbarToggleExternalContent">
    <div class="texto flex-column">
        <div class="background3 d-flex">
            <div class="col-sm-1 pt-2 pb-5">
                <button [routerLink]="['/']" type="button"
                    class="btn background3 fs-4 ms-4 border border-dark">Inicio</button>
            </div>
            <div class="col-sm-1 pt-2 pb-5">
                <button [routerLink]="['/incidente']" type="button"
                    class="btn background3 fs-4 ms-1 border border-dark">Incidentes</button>
            </div>
            <div class="col-sm-1 pt-2">
                <button [routerLink]="['/equipo']" type="button"
                    class="btn background3 fs-4 ms-4 border border-dark">Equipo</button>
            </div>
            <div class="col-sm-1 pt-2">
                <button [routerLink]="['/personal']" type="button"
                    class="btn  ms-4  background3 fs-4 border border-dark">Personal</button>
            </div>
            <br>
        </div>
    </div>
</div>