<app-navbar [titulo]="'Tabla equipo'" id ="nav-equipo"></app-navbar>

<div class="container-fluid pt-4">
  <div class="row justify-content-lg-start">
    <div class="col-6">
      <div class="row ps-5 pb-3 col-6">
        <button class="btn btn-dark" (click)="mostrarFormulario = true; limpiarEquipo();"><span
            class="material-symbols-outlined">
            person_add
          </span></button>
      </div>
      <div *ngIf="mostrarFormulario" class="border m-3 p-3" id="formulario-personal">
        <form (submit)="validarCampos()">
          <div class="m-3 ">
            <label class="col-form-label">ID del conductor</label>
            <input class="form-control " id="nombre" type="text" [(ngModel)]="id_conductor" name="id_conductor"
              placeholder="Ingrese el ID del conductor">
          </div>
          <div class="m-3 ">
            <label class="col-form-label">ID del paramedico 1:</label>
            <input class="form-control " type="text" [(ngModel)]="id_paramedico1" name="id_paramedico1"
              placeholder="Ingrese el ID del paramedico 1">
          </div>
          <div class="m-3">
            <label class="col-form-label">ID del paramedico 2:</label>
            <input class="form-control " type="text" [(ngModel)]="id_paramedico2" name="id_paramedico2"
              placeholder="Ingrese el ID del paramedico 2">
          </div>
          <div class="m-3">
            <label class="col-form-label">Placa del Vehiculo:</label>
            <input class="form-control " type="text" [(ngModel)]="placa_vehiculo" name="placa_vehiculo"
              placeholder="Ingrese la placa del vehiculo">
          </div>

          <div class="m-3 text-md-end">
            <button class="btn btn-primary me-4 ms-3 " type="submit">Guardar</button>
            <button class="btn btn-secondary" (click)="mostrarFormulario = false">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-6 justify-content-end">
      <div class="input-group mb-3  ">
        <input type="text" class="form-control me-4" placeholder="Buscar..." [(ngModel)]="busqueda">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary me-3" type="button" (click)="filtrarEquipo()">Buscar</button>
          <button class="btn btn-secondary" type="reset" (click)="limpiarBusqueda()">Limpiar búsqueda</button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th>#</th>
        <th>ID del Conductor</th>
        <th>ID del Paramedico1</th>
        <th>ID del Paramedico2</th>
        <th>Placa del vehiculo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of equipo" class="text-center">
        <td>
          {{item.id_equipo}}
        </td>
        <td>
          {{item.id_conductor}}
        </td>
        <td>
          {{item.id_paramedico1}}
        </td>
        <td>
          {{item.id_paramedico2}}
        </td>
        <td>
          {{item.placa_vehiculo}}
        </td>
        <td>
          <div class="row justify-content-around">
            <a class="col-3 btn btn-warning " href="/equipo#nav-equipo" (click)="editarEquipo(item)"><span class="
              material-icons">
                edit
              </span></a>

            <a class="col-3 btn btn-danger material-icons " href="/equipo#nav-equipo"
              (click)="eliminarData(item.id_equipo)"><span class="material-icons ">
                delete
              </span></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
